<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Forms</title>
<script src="../bower_components/angularjs/angular.min.js"></script>
<link href="../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
<script>

	angular
		.module("myApp", [])
		.controller("defaultCtrl", function($scope) {
			$scope.todos = [
				{ action: "aa", complete: false},
				{ action: "bb", complete: false},
				{ action: "cc", complete: true},
				{ action: "dd", complete: false},
				{ action: "ee", complete: false}
			];
		});

</script>

</head>

<body>

	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">

		<h3 class=""panel-header">
			To Do List
			<span class="label label-info">
				{{(todos | filter: {complete: 'false'}).length}}
			</span>
		</h3>

		<table class="table">
			<tr>
				<th>#</th>
				<th>Action</th>
				<th>Done</th>
			</tr>
			<tr ng-repeat="item in todos">
				<td>{{$index + 1}}</td>
				<td>{{item.action}}</td>
				<td><input type="checkbox" ng-model="item.complete" /></td>
			</tr>
		</table>

	</div>

</body>
</html>